*, body {
    padding: 0;
    margin: 0;
    font-family:'Times New Roman', Times, serif;
}

main {
    display: flex;
    height: 100vh;
    flex-direction: row;
}

#userspanel {
    min-width: 20%;
    max-width: 30%;
    height: 100vh;
    width: 380px;
    background-color: #f0f0f0;
    display: flex;
    flex-direction: column;
    gap: 10px;
    position: relative;
    box-sizing:  border-box;
   border-right: 1px solid black;
    
}

#resize-handle {
    position: absolute;
    right: 0;
    top: 0;
    width: 5px;
    height: 100%;
    cursor: col-resize;
    background-color:transparent;
}

.logo {
    display: block;
    font-family: 'Times New Roman', Times, serif;
    font-size: 45px;
    text-transform: uppercase;
    padding: 15px;
    color: blue;
    width: 100%;
    border-bottom: 2px solid blue;
    text-align: center;
    box-sizing:  border-box;
    
}

.searchbox {
    display: flex;
    padding: 10px;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    box-sizing:  border-box;
    background-color: #f0f0f0;
}

.searchbox input {
    text-indent: 15px;
    width: 100%;
    height: 40px;
    font-size: 20px;
    border: 2px solid blue;
    border-radius: 25px;
    background-color: #fff;

}

#searchresults {
    
    display: none;
    padding: 10px;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    max-height: 200px;
    overflow-y: auto;
    overflow-x: hidden;
    box-sizing:  border-box;
    background-color: #f0f0f0;
}

#searchresults li {
    display: flex;
    align-items: center;
    border: 1px solid black;
    height: 50px;
    width: 95%;
    padding: 10px;
    cursor: pointer;
    border-radius: 8px;    
    transition: background-color 0.3s ease;

}

#searchresults li:hover {
    background-color: #f1f1f1;
}

#searchresults li img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin-right: 15px;
}

#oldchats {
    border-radius: 8px;
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    margin: 5px;
    padding: 2px;
    align-items: center;
    width: 95%;
    background-color: #fff;
    overflow-y: auto;
    border: 1px solid #ccc;
    box-sizing:  border-box;
    gap: 8px;
}

#oldchats div {
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 50px;
    width: 90%;
    background-color: #fff;
    padding: 10px;
    border-radius: 6px;
    border: 1px solid #ccc;
    cursor: pointer;

}
.profile-details{
    display: flex;
    flex-direction: column;
    padding: 0;
    margin: 0;
}
#oldchats div .profile-details{
    display: flex;
    flex-direction: column;
    padding: 0;
    margin: 0;
    width: auto;
    border: none;
    font-size: 20px;
}
#oldchats div:hover {
    background-color: #f1f1f1;
}

#oldchats div img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin-right: 15px;

}

.usersactions {
    border-radius: 8px 8px 0 0;
    display: flex;
    flex-direction: row;
    align-items: center;
    height: auto;
    width: 100%;
    background-color: #fff;
    padding: 10px;
    gap: 5px;
    border: 1px solid #ccc;
    box-sizing: border-box;
}

.usersactions img {
    
    width: 70px;
    height: 70px;
    border-radius: 50%;
    margin: 2px;
}
.user-info{
    
    font-size: 20px;
    display: flex;
    flex-direction: column;
    background-color: #fff;
}

.logout a {
    position: absolute;
    display: block;
    text-align: center;
    padding: 5px;
    background-color: blue;
    color: #ffffff;
    border-radius: 3px;
    text-decoration: none;
    font-size: 15px;
    box-sizing: border-box;
    right: 15px;
    bottom: 5px;
}

.logout i {
    background-color: blue;
    color: #ffffff;
    transition: transform 0.3s ease-in-out; /* Add smooth transition */
}

.logout a:hover i {
    background-color: darkblue;
    animation: fa-beat 1s infinite;
}
.logout a:hover  {
    background-color: darkblue;
}
.three-dots-menu{
    right: 5px;
    position: absolute;
    cursor: pointer;
    font-size: 28px;
    font-weight: bold;
}
.three-dots-menu:hover {
    
    color: gray;
}
#usersprofile {
    display: none;
    width: 30%;
    max-width: 300px;
    flex-direction: column;
    background-color: #fff;
    padding: 20px;
    position: absolute;
    right: 0;
    top: 0;
    height: 100vh;
    box-shadow: -2px 0 5px rgba(0, 0, 0, 0.5);
    z-index: 1000;
    overflow-y: auto;
}

#usersprofile .close-icon {
    position: absolute;
    top: 10px;
    right: 10px;
    cursor: pointer;
}

#usersprofile #profile-info {
    margin-top: 20px;
    display: flex;
    
    flex-direction: column;
    gap: 10px;
}

#usersprofile #profile-info div {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#usersprofile #profile-info div button {
    margin-left: 10px;
}

/* Chat Container */
#discusion-container {
    display: flex;
    width: 100%;
    flex-direction: column;
    justify-content: center;
    height: 100vh;
    background-image: url('../img/newpic.jpg');
    background-repeat: no-repeat;
    background-size: cover; 
    background-attachment: fixed;
    background-position: center;
    box-sizing: border-box;
    font-size: 50px;
}

.container {
    /*display: none;*/
    display: none;
    flex-direction: column;
    height: 100vh;
    width: 100%;
    box-sizing: border-box;
}
#chat-header {
    width: 100%;
    z-index: 1000;
    background-color: #f1f1f1;
    border-bottom: 1px solid #ccc;
    box-sizing: border-box;
}
#chat-header div {
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 50px;
    padding: 10px;
    

}
.online{
    color: green;
}
.offline{
    color: red;
}
#chat-header div .profile-details{
    display: flex;
    flex-direction: column;
    padding: 0;
    margin: 0;
    width: 40px;
    border: none;
    font-size: 20px;
}

#chat-header img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin-right: 25px;
    margin-left: 25px;
}
#messages {
    display: flex;
    margin-top: auto;
    padding: 20px;
    flex-direction: column;
    overflow-y: auto;
    background-color: #e5ddd5;
    box-sizing: content-box;
    gap: 10px;
    height: 100vh;
    background-image: url('img/bgmessagepic.jpeg'); /* Adjusted path */
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
}

.message {
    margin: 10px 0;
    padding: 8px 12px;
    border-radius: 12px;
    max-width: 60%;
    position: relative;
    display: inline-block;
    font-size: 14px;
    line-height: 1.4;
}

.message .username {
    font-weight: bold;
    background-color: #f0f0f0;
    margin-bottom: 4px;
    padding: 5px;
}

.message.current-user {
    background-color: #dcf8c6; /* Light green, like WhatsApp */
    margin-left: auto; /* Align right */
    border-bottom-right-radius: 0;
}

.message.other-user {
    background-color: #ffffff; /* White, like WhatsApp */
    margin-right: auto; /* Align left */
    border-bottom-left-radius: 0;
}

.message .timestamp {
    font-size: 12px;
    color: #999;
    position: absolute;
    bottom: -18px;
    right: 12px;
}
#message-form {
    background-color: #f0f0f0;
    display: flex;
    padding: 10px;
    width: 100%;
    box-sizing: border-box;
}
#message {
    flex: 1;
    display: inline-block;
    height: 25px;
    font-size: 18px;
    border-radius: 5px;
    padding: 8px;
    border: 1px solid black;
}
#message:focus,#message:valid{
    border:1px solid rgb(6, 243, 6);
}
#message-form button {
    margin-left: 10px;
    display: inline-block;
    color: white;
    border-radius: 5px;
    background-color: rgb(6, 243, 6);
    border: none;
    padding: 8px;

}
