*, html, body {
    padding: 0;
    margin: 0;
    font-family: 'Times New Roman', Times, serif;
    scroll-behavior: smooth;
}
:root{
    --primary-color: #c0c0c0;
    --secondary-color: #ffffff;
}
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    top: 0;
    width: 100%;
    background-color: blue;
    color: --secondary-color;
    z-index: 1000; 
}

.logo span {
    font-size: 26px;
    text-transform: uppercase;
    color: var(--secondary-color);
    font-weight: bold;
    margin-left: 15px;
}

nav {
    flex: 1;
    text-align: right;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

nav ul li {
    display: inline-block;
    height: 40px;
    padding: 15px 15px 0;
    position: relative;
}

nav ul li a {
    text-align: center;
    text-decoration: none;
    color: #fff;
    transition: color 0.3s;
}
nav ul li a:hover {
    background-color: var(--primary-color);
    }

section {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-image: url('../img/bgpic.png');
    background-repeat: no-repeat;
    background-size: cover; 
    background-attachment: fixed;
}

.container{
    flex-direction: column;
    margin: 0;
    padding: 0;
    justify-content: center;
    align-items: center;     
    backdrop-filter: blur(0);
    background: linear-gradient(rgb(13, 197, 253), rgba(14, 157, 253, 0.397), rgb(13, 197, 253));
    border-radius: 25px;
    
}

.login{
    display: none;
    height: auto;
    width: 400x;
}

.erro-msg{    
    flex-direction: column;
    align-items: center;
    background-color: rgba(255, 0, 0, 0.753);
    background-color: rgba(0, 255, 0, 0.541);
    font-size: 18px;
    font-weight: bold;
    margin-top:5px;
    padding: 10px;
    color: #fff;
    width: auto;
    border-radius: 15px;
    z-index: 1000;
    animation: fadeIn 0.8s;
    display: none;
}

.typing-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 30px;
    margin: 5px;
    padding: 10px;
    
}

#typing-text {
    font-family: 'Times New Roman', serif;
    color: #fff;
    font-size: 38px;
    font-weight: bolder;
    white-space: nowrap;
    overflow: hidden;
    border-right: 3px solid black;
    /*width:0; /* Initial width for typing effect */
    animation: blink-caret 0.75s step-end infinite;
}
.loginform{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 85%;
    gap: 5px;
    font-size: 24px;
    color: var(--secondary-color);
    
}

.loginform input{    
    text-indent: 40px;
    border: none;
    font-size: 20px;
    height: 46px;
    width: 100%;
    max-width: 25em;
    border: 2px solid #fff;
    border-radius: 30px;
    margin: 14px;
    outline: none;
    background:transparent;
    color: black;
    
}
.input-wrapper{
    display: flex;
    width: 100%;
    position: relative;
    
}
.loginform label{
    position: absolute;
    top: 50%;
    left: 5%;
    transform: translateY(-50%);
    transition: 0.2s;
    text-indent: 40px;

}

.loginform i:not(.fa.fa-eye,.fa.fa-eye-slash){
    position: absolute;
    top: 50%;
    left: 7%;
    transform: translateY(-50%);
    transition: 0.2s;
}
.loginform i.fa.fa-eye
{
    display: none;
    position: absolute;
    top: 50%;
    right: 7%;
    transform: translateY(-50%);
    transition: 0.2s;
    color: #c0c0c0;
}
.loginform i.fa.fa-eye-slash{
    position: absolute;
    top: 50%;
    right: 7%;
    transform: translateY(-50%);
    transition: 0.2s;
    

}
.loginform i.fa.fa-eye:active,
.loginform i.fa.fa-eye-slash{
    color: #3e4248;
    
} 
.loginform input:focus~.fa.fa-eye,.loginform input:focus~.fa.fa-eye-slash, 
.loginform input:valid~.fa.fa-eye,.loginform input:focus~.fa.fa-eye-slash{
    position: absolute;
    display: block;
    cursor: pointer;   
}

.loginform input:focus, 
.loginform input:valid{
    background-color: #ffffff;
    border: 2px solid blue;
}
.loginform input:focus~.label, 
.loginform input:valid~.label{

    position: absolute;
    top: 0;
    left: 0;
    padding: 0 10px;
    text-indent: 0;
    border-radius: 30px;
    font-size: 20px;
    background-color: var(--primary-color);
    color: black;

}
.loginform input:focus~.fa.fa-user, 
.loginform input:valid~.fa.fa-user{
    position:absolute;   
    transform: translate(-45px,-50%);
 color: rgb(255, 255, 255);
}
.loginform input:focus~.fa.fa-key, 
.loginform input:valid~.fa.fa-key{
    position:absolute;   
    transform: translate(-45px,-50%);
 color: rgb(255, 255, 255);
}

.loginform button{
    margin: 15px;
    padding: 10px 20px;
    font-size: 20px;
    border: none;
    width: 50%;
    font-size: 20px;
    justify-content: center;
    border: 2px solid #fff;
    border-radius:30px;
    background-color: #007bff;
    color: var(--secondary-color);
    cursor: pointer;    

}
.loginform button:hover {
    background-color: #0056b3;
}
.lbox{
    margin: 10px;
}
#signuplink{    
    cursor: pointer;
}
#signuplink:hover{
    color: blue;
    text-decoration: underline;
}


@keyframes blink-caret {
    from, to {
        border-color: transparent;
    }
    50% {
        border-color: rgb(255, 255, 255); /* Make caret visible */
    }
}
.signup{
    display: none;
    height: 520px;
    width: 420px;
}

.signuplogo{
    display: block;
    position: relative;
    font-size: 45px;
    text-transform: uppercase;
}

.signupform{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 5px;
    width: 85%;
    font-size: 24px;
}

.signupform input{
    width: 100%;
    font-size: 18px;
    height: 35px;
    border: none;
    border-radius: 4px;
    
}
.signupform input:not(#fname):not(#lname):not([type="file"]) {
    text-indent: 45px;
}
#fname, 
#lname{
    text-indent: 15px;
}
.names{
    display: flex;
    gap: 15px;
    width: 100%;   
      
}
.input{
    display: flex;
    width: 100%;
    flex-direction: column;
}

.signupform i{
    position: absolute;
    transform: translate(6px,35px);    
    
}
.signupform i.fa.fa-eye{
    position: absolute;
    display: none;
    transform: translate(20px,35px);
    right: 60px;
    color: #c0c0c0;

}

.signupform i.fa.fa-eye-slash{
    position: absolute;
    transform: translate(20px,35px);
    right: 60px;
    color: #c0c0c0;

}
.signupform i.fa.fa-eye:active,
.signupform i.fa.fa-eye-slash{
    color: #3e4248;
    
} 

.signupform input:focus~.fa.fa-eye,.signupform input:focus~.fa.fa-eye-slash, 
.signupform input:valid~.fa.fa-eye,.signupform input:focus~.fa.fa-eye-slash{
    position: absolute;
    display: block;
    cursor: pointer;   
   
}
.button-container {
    width: 100%;
    display: flex;
    justify-content: center;
}

.button-container button {
    padding: 10px 20px;
    font-size: 20px;
    border: none;
    width: 50%;
    border-radius: 4px;
    background-color: #007bff;
    color: white;
    cursor: pointer;
}

.button-container button:hover {
    background-color: #0056b3;
}
.sbox{
    position: relative; 
    bottom: -15px;  
}
#signinlink{
    cursor: pointer;
}
#signinlink:hover{
    color: blue;
    text-decoration: underline;
}
